/******* Bootstrap Theming ********/

$primary: #01AAEB;
$secondary: #F2F1F8;
$light: #FFFFFF;
$dark: #44425A;

$font-family-sans-serif: 'Poppins', sans-serif;

$body-color: #6C6A74;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

$border-radius: 8px;

@import "bootstrap/scss/bootstrap";


/********** Custom CSS ************/

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
}

.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
    color: $dark;
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 5px 0px;
    }
}

.navbar-vertical.navbar-light .navbar-nav .nav-link {
    padding: 8px 30px;
    border-bottom: 1px solid $secondary;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel-indicators {
    width: 60px;
    top: 0;
    right: calc(100% - 60px);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-indicators li {
    width: 25px;
    height: 25px;
    margin: 5px 0;
    background: $dark;
    border: 5px solid $light;
    border-radius: 25px;
}

.carousel-indicators .active {
    background: $primary;
}

@media (max-width: 991.98px) {
    .carousel-indicators {
        width: 45px;
        right: calc(100% - 45px);
    }

    .carousel-indicators li {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 575.98px) {
    .carousel-caption h5 {
        font-size: 16px;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 700 !important;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/page-header-3.jpg), no-repeat center center;
    background-size: cover;
}

.cat-item img {
    transition: .5s;
}

.cat-item:hover img {
    transform: scale(1.3)
}

.cat-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bg-registration {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/registration.jpg), no-repeat center center;
    background-size: cover;
}

.team-img .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(68, 66, 90, .8);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.team-item:hover .team-social {
    opacity: 1;
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: $primary;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 2px solid $primary;
    border-radius: 20px;
}

.testimonial-carousel .owl-dot.active {
    background: $dark;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.2);
}

.blog-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(68, 66, 90, .0), rgba(68, 66, 90, 1));
    z-index: 1;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}